#messages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    width: 100%;
    padding: var(--spacing-medium);
    border-bottom: 1px solid var(--bg-tertiary);
    overflow-y: auto;
}

#messages .message {
    max-width: 90%;
    background: var(--bg-secondary);
    padding: 6px 10px;
    align-self: flex-start;
    border-radius: var(--border-radius);
}

#messages .message.from-me {
    align-self: flex-end;
}

#retranslation {
    background: var(--bg-tertiary);
    width: calc(100% - 2*var(--spacing-medium));
    padding: 6px 10px;
    margin-top: var(--spacing-medium);
    border-radius: var(--border-radius);
    font-size: var(--fs-small);
    color: var(--clr-text-dark);
    word-wrap: break-word;
    /* overflow-x: hidden; */
}

#input-area {
    display: flex;
    gap: 0.5rem;
    width: calc(100% - 2*var(--spacing-medium));
    margin: var(--spacing-medium) 0px;
    background: var(--bg-secondary);
    border-radius: var(--border-radius);
}

#message-input {
    flex: 1 0 auto;
    padding: 0px 20px;
    background: transparent;
    color: var(--clr-text);
    font: inherit;
    border: none;
    outline: none;
}

#send-message-btn {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

#send-message-btn img {
    width: 23px;
}