/* Messages area */
#messages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    width: 100%;
    padding: var(--spacing-medium);
    border-bottom: 1px solid var(--clr-bg-3);
    overflow-y: auto;
}

/* Message stylesheets are in Message.css */

/* Retranslation area */
#retranslation {
    width: calc(100% - 2*var(--spacing-medium));
    padding: 6px 10px;
    margin-top: var(--spacing-medium);
    background: var(--clr-bg-3);
    border-radius: var(--border-radius);
    font-size: var(--fs-small);
    color: var(--clr-text-2);
    word-break: break-all;
}

/* Input area */
#input-area {
    display: flex;
    gap: var(--spacing-small);
    width: calc(100% - 2*var(--spacing-medium));
    margin: var(--spacing-medium) 0px;
    background: var(--clr-bg-2);
    border-radius: var(--border-radius);
}

#message-input {
    flex: 1 0 auto;
    width: 0;
    background: transparent;
    border: none;
}

.input-area-btn {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.input-area-btn img {
    width: 23px;
}