#app-title {
    font-size: var(--fs-largest);
    margin-bottom: 2em;
}

#label-select-lang {
    font-size: var(--fs-large);
    font-weight: 500;
    margin-bottom: 1em;
}

#lang-selector {
    margin-bottom: var(--fs-largest);
}

#room-input {
    font: inherit;
    width: 12em;
    padding: 6px 10px;
    background: transparent;
    color: var(--clr-text-1);
    border: 2px solid var(--clr-bg-4);
    outline: none;
    text-align: center;
}

button {
    padding: 6px 24px;
    background: var(--clr-bg-2);
    color: inherit;
    border: 2px solid var(--clr-bg-3);
    outline: none;
    font: inherit;
    font-weight: 500;
}

button:disabled {
    opacity: 0.5;
}

button:hover:not(:disabled) {
    background: var(--clr-bg-3);
    cursor: pointer;
}