/* Classes */
.button {
    padding: 6px 10px;
    background: var(--clr-bg-2);
    border: 2px solid var(--clr-bg-3);
}

.button:hover:not(:disabled) {
    background: var(--clr-bg-3);
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
}

/* IDs */
#app-icon {
    width: 64px;
    margin-bottom: 1rem;
}

#app-title {
    font-size: var(--fs-largest);
    margin-bottom: 1.5em;
}

#label-select-lang {
    font-size: var(--fs-large);
    font-weight: 500;
    margin-bottom: 1em;
}

#lang-selector {
    margin-bottom: calc(1.5 * var(--fs-largest));
}

#room-input {
    width: 12em;
    padding: 6px 10px;
    background: transparent;
    border: 2px solid var(--clr-bg-4);
    text-align: center;
}

#join-btn {
    padding: 6px 24px;
}