#app-title {
    font-size: var(--fs-largest);
    margin-bottom: 1em;
}

#label-select-lang {
    font-size: var(--fs-large);
    font-weight: 500;
    margin-bottom: 1em;
}

#lang-selector {
    margin-bottom: var(--fs-largest);
}

button {
    padding: 6px 36px;
    margin-bottom: 1em;
    background: var(--bg-secondary);
    color: inherit;
    border: 2px solid var(--bg-tertiary);
    outline: none;
    font: inherit;
    font-size: var(--fs-large);
    font-weight: 500;
}

button:disabled {
    opacity: 0.5;
}

button:hover:not(:disabled) {
    background: var(--bg-tertiary);
    cursor: pointer;
}

#delete-messages {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    padding: 6px 12px;
    font-size: var(--fs-medium);
}

#delete-messages img {
    width: var(--fs-medium)
}