#messages .message {
    max-width: min(85%, 600px);
    align-self: flex-start;
    word-break: break-word;
    cursor: pointer;
}

#messages .message.from-me {
    align-self: flex-end;
}

/* Both original and translated messages */
#messages .message>* {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    padding: 7px 11px;
    border-radius: var(--border-radius);
}

#messages .original-message {
    background: var(--clr-bg-2);
}

#messages .translated-message {
    background: var(--clr-bg-3);
}

/* Borders for original and translated when message is expanded */
#messages .expanded .original-message {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#messages .expanded .translated-message {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#messages img {
    width: var(--spacing-medium);
    opacity: 0.5;
}