@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600&display=swap");

:root {
  --bg-primary: rgb(32, 34, 37);
  --bg-secondary: rgb(47, 49, 54);
  --bg-tertiary: rgb(54, 57, 63);
  --clr-text: rgb(246, 247, 248);
  --clr-text-dark: rgb(132, 139, 153);
  --fs-small: 17px;
  --fs-medium: 18px;
  --fs-large: 20px;
  --fs-largest: 36px;
  --border-radius: 8px;
  --spacing-small: 7px;
  --spacing-medium: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font: var(--fs-medium) "Gantari", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-primary);
  color: var(--clr-text);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-text-dark);
  border-radius: var(--border-radius);
}