@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600&display=swap");

:root {
  --clr-bg-1: rgb(32, 34, 37);
  --clr-bg-2: rgb(47, 49, 54);
  --clr-bg-3: rgb(54, 57, 63);
  --clr-bg-4: rgb(77, 79, 89);
  --clr-text-1: rgb(246, 247, 248);
  --clr-text-2: rgb(132, 139, 153);
  --fs-small: 16px;
  --fs-medium: 17px;
  --fs-large: 20px;
  --fs-largest: 28px;
  --border-radius: 9px;
  --spacing-small: 7px;
  --spacing-medium: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Make window fit all the available space */
html,
body,
#root {
  height: 100%;
}

html {
  background: var(--clr-bg-1);
  font: var(--fs-medium) "Gantari", sans-serif;
  color: var(--clr-text-1);
}

/* Center #root due to its size limits for a better experience in big screens */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  max-height: 768px;
  border: 1px solid var(--clr-bg-2);
}

.input {
  background: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--clr-bg-3);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-bg-4);
}